*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://images.unsplash.com/photo-1501663176623-2867375ccb62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.login-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #FFF;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
}

.form::before{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    pointer-events: none;
}

.form img{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
}

#forgot{
    display: none;
}

.form h2{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #E26368;
}

.form .input-group{
    position: relative;
}

.form .input-group input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.form .input-group label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.form .input-group input:focus + label,
.form .input-group input:valid + label{
    transform: translateY(-20px);
    color: #E26368;
    font-size: 0.8rem;
}

.submit-button{
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #E26368;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.forgot{
    color: inherit;
}
